@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

html {
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-size: 1.3rem;
  font-family: "Lato", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.navbar {
  margin-bottom: 1%;
  margin-top: 4px;
}

.nav-link {
  color: rgb(26, 26, 26) !important;
}

.over-nav {
  background-color: #586d8c;
  height: 6px;
  width: 100vw;
}

.gallery {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
  column-width: 33%;
}

.splashtext {
  margin-top: 17%;
  font-weight: 350;
  font-size: 10rem;
  z-index: 2;
  color: white;
  letter-spacing: 0.05em;
}

.under-splashtext {
  font-weight: 100;
  font-size: 3rem;
  margin-top: -3%;
  color: white;
  letter-spacing: 0.02em;
}

.btn {
  font-family: Lato;
}

.navbar-brand {
  font-size: 2rem !important;
}

.table .fa-check-circle {
  color: green;
  font-size: 1.5rem;
}

.table .fa-times-circle {
  color: red;
  font-size: 1.5rem;
}

.nav-link {
  font-size: 1.2rem !important;
}

.index-background {
  margin-top: -18px;
  width: 100%;
  height: auto;
  margin-bottom: -900px;
  z-index: -1;
  border-bottom: black;
  box-shadow: black;
  -webkit-box-shadow: 0px 20px 64px -1px rgba(88, 109, 140, 0.86);
  -moz-box-shadow: 0px 20px 64px -1px rgba(88, 109, 140, 0.86);
  box-shadow: 0px 20px 64px -1px rgba(88, 109, 140, 0.86);
}

.index-container {
  margin-bottom: 175px;
}

h1 {
  margin-bottom: 20px !important;
}

.container {
  padding: 0 !important;
}

.socials a {
  color: #586d8c;
  text-decoration: none;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 2rem;
}
.page-footer {
  margin-left: 30px;
}

.socials a:hover {
  color: rgb(185, 185, 185);
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

.card-head {
  padding: 10px 0 0 0 !important;
}
#pricing {
  margin-bottom: 50px;
  margin-top: 50px;
}
.page-footer p {
  display: inline;
  color: black;
}
.error {
  margin-top: 420px;
}
.index .btn {
  letter-spacing: 0.1em !important;
  margin-left: 10px;
}
.navbar-brand {
  letter-spacing: 0.05em;
}
.scroll {
  margin-top: 500px;
  border-radius: 15px !important;
  -webkit-box-shadow: 0px 20px 64px -1px rgba(88, 109, 140, 0.86);
  -moz-box-shadow: 0px 20px 64px -1px rgba(88, 109, 140, 0.86);
  box-shadow: 0px 20px 64px -1px rgba(88, 109, 140, 0.86);
}
.btn-primary {
  background-color: #586d8c !important;
  border-color: #4e617c !important;
}
.badge-primary {
  background-color: #586d8c !important;
  border-color: #4e617c !important;
}
.index-footer {
  margin-top: -370px;
}
.fa-check-circle {
  color: #586d8c !important;
}
.scroll .row {
  padding: 50px;
}
.services-img {
  margin-bottom: 25px;
}